/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin jtpwebapp {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
}

.v-slot {
	text-align: center;
}

input {
	text-align: center;
}


.layoutPlayerName {
	width: 100%;
	background: #f5f5f5

}

.namePanel {
	width: 800px;
	margin-right: auto;
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
-ms-border-radius: 3px; 
-o-border-radius: 3px; 
border-radius: 3px; 
	
}

.v-slot-playingAs {
	width:100%;
	
}

.playingAs {
	font-size: large;
	font-style: italic;
}

.v-slot-playerNameInputField {
	width: 100%;
}

.playerNameInputField { 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
-ms-border-radius: 3px; 
-o-border-radius: 3px; 
border-radius: 3px; 
-webkit-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset; 
-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset; 
-webkit-transition: all 0.5s ease; 
-moz-transition: all 0.5s ease; 
-ms-transition: all 0.5s ease; 
-o-transition: all 0.5s ease; 
transition: all 0.5s ease; 
background: #EAE7E7 ; 
border: 1px solid #C8C8C8; 
color: #777; 
font: 13px Helvetica, Arial, sans-serif; 
padding: 15px 10px 15px 40px; 
width:100%; 
margin-left: 200px;
margin-bottom: 5px;
} 
 
.playerNameInputField:focus { 
-webkit-box-shadow: 0 0 2px #ED1C24 inset; 
-moz-box-shadow: 0 0 2px #ed1c24 inset; 
-ms-box-shadow: 0 0 2px #ed1c24 inset; 
-o-box-shadow: 0 0 2px #ed1c24 inset; 
box-shadow: 0 0 2px #ED1C24 inset; 
background-color: #FFF; 
border: 1px solid #ED1C24; 
outline: none; 
} 